@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

:root {
    --background: hsl(222, 26%, 31%);
    --keypad-background: hsl(223, 31%, 20%);
    --screen-background: hsl(224, 36%, 15%);
    --dark-font: hsl(221, 14%, 31%);
    --white-font: hsl(0, 0%, 100%);
    --blue-key-background: hsl(225, 20%, 55%);
    --blue-key-hover: hsl(225, 20%, 40%);
    --blue-key-active: hsl(225, 20%, 30%);
    --red-key-background: hsl(6, 69%, 55%);
    --red-key-hover: hsl(6, 69%, 50%);
    --red-key-active: hsl(6, 69%, 40%);
    --white-key-background: hsl(25, 15%, 90%);
    --white-key-hover: hsl(25, 15%, 85%);
    --white-key-active: hsl(25, 15%, 75%);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    display: block;
    background: var(--background);
    font-family: 'Open Sans', sans-serif;

}

button {
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    outline: none;
}

.calculator {
    width: 540px;
    margin: 24px auto;
    padding: 20px;
    border-radius: 10px;
    background: var(--keypad-background);
}

.screen {
    padding: 10px 20px;
    margin-bottom: 24px;
    border-radius: 10px;
    font-size: 48px;
    font-weight: 700;
    text-align: right;
    word-wrap: break-word;
    word-break: break-all;
    width: auto;
    height: 128px;
    background: var(--screen-background);
    color: var(--white-font);
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 12px 32px;
}

.btn {
    padding: 10px;
    font-size: 18px;
    width: 100px;
    height: 64px;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    color: var(--dark-font);
    border-radius: 10px;
    box-shadow: 0px -4px 0px 0px var(--white-key-active) inset;
}

.btn-red {
    color: var(--white-font);
    background-color: var(--red-key-background);
    box-shadow: 0px -4px 0px 0px var(--red-key-active) inset;
}

.btn-blue {
    color: var(--white-font);
    background-color: var(--blue-key-background);
    box-shadow: 0px -4px 0px 0px var(--blue-key-active) inset;
}

.btn:hover {
    background-color: var(--white-key-hover);
}

.btn:active {
    background-color: var(--white-key-active);
}

.btn-red:hover {
    background-color: var(--red-key-hover);
}

.btn-red:active {
    background-color: var(--red-key-active);
}

.btn-blue:hover {
    background-color: var(--blue-key-hover);
}

.btn-blue:active {
    background-color: var(--blue-key-active);
}

footer {
    margin: 40px auto;
    text-align: center;
    color: var(--white-font);
}

footer a {
    text-decoration: none;
    color: var(--white-key-background);
    font-weight: bold;
    background-color: var(--screen-background);
    padding: 4px;
    border-radius: 8px;
}

footer a:hover {
    color: var(--white-key-hover);
}

footer a:active {
    color: var(--white-key-active);
}