@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

:root {
    --background: #3a4764;
    --secondary-background: #353f5a;
    --keypad-background: hsl(223, 31%, 20%);
    --screen-background: hsl(224, 36%, 15%);
    --dark-font: hsl(221, 14%, 31%);
    --white-font: hsl(0, 0%, 100%);
    --blue-key-background: hsl(225, 20%, 55%);
    --blue-key-hover: hsl(225, 20%, 40%);
    --blue-key-active: hsl(225, 20%, 30%);
    --red-key-background: hsl(6, 69%, 55%);
    --red-key-hover: hsl(6, 69%, 50%);
    --red-key-active: hsl(6, 69%, 40%);
    --white-key-background: hsl(25, 15%, 90%);
    --white-key-hover: hsl(25, 15%, 85%);
    --white-key-active: hsl(25, 15%, 75%);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(-45deg, hsla(224, 26%, 28%, 0.6) 20%, transparent 20% 80%, hsla(224, 26%, 28%, 0.6) 80% 100%), linear-gradient(45deg, hsla(224, 26%, 28%, 0.6) 20%, transparent 20% 80%, hsla(224, 26%, 28%, 0.6) 80% 100%), linear-gradient(-45deg, var(--background) 33%, transparent 33% 66%, var(--background) 66%), linear-gradient(45deg, transparent 33%, var(--secondary-background) 33% 66%, transparent 66%);
    background-size: 3rem 3rem;
    background-color: var(--background);
    background-position: center center;
}

button {
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    outline: none;
}

.calculator {
    max-width: 540px;
    margin: 24px auto;
    padding: 20px;
    border-radius: 10px;
    background: var(--keypad-background);
}

.screen {
    padding: 20px 20px;
    margin-bottom: 24px;
    border-radius: 10px;
    text-align: right;
    word-wrap: break-word;
    word-break: break-all;
    height: 128px;
    background: var(--screen-background);
    color: var(--white-font);
}

#screen-input {
    min-height: auto;
    font-size: 48px;
    font-weight: 700;
}

#screen-history {
    min-height: auto;
    font-size: 16px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 12px 32px;
}

.btn {
    padding: 10px;
    font-size: 18px;
    width: 100px;
    height: 64px;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    color: var(--dark-font);
    border-radius: 10px;
    box-shadow: 0px -4px 0px 0px var(--white-key-active) inset;
}

.btn-red {
    color: var(--white-font);
    background-color: var(--red-key-background);
    box-shadow: 0px -4px 0px 0px var(--red-key-active) inset;
}

.btn-blue {
    color: var(--white-font);
    background-color: var(--blue-key-background);
    box-shadow: 0px -4px 0px 0px var(--blue-key-active) inset;
}

#btnClear,
#btnCalculate {
    flex-grow: 1;
}

.btn:hover {
    background-color: var(--white-key-hover);
}

.btn:active {
    background-color: var(--white-key-active);
}

.btn-red:hover {
    background-color: var(--red-key-hover);
}

.btn-red:active {
    background-color: var(--red-key-active);
}

.btn-blue:hover {
    background-color: var(--blue-key-hover);
}

.btn-blue:active {
    background-color: var(--blue-key-active);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}

footer a,
footer p {
    color: var(--white-font);
}

footer p {
    font-size: 1.25rem;
    font-weight: 600;
}

footer i {
    padding-right: 0.5rem;
}